#informations.padigia {
  width: 435px;
  margin-left: -182px;
}

/***********************/
/* padigia kicks style */
/***********************/

#padigia{
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -146px;
  width: 376px;
  height: 292px;
  z-index: 10002;
  opacity: 1;
  text-align: right;
  transition:.6s all;
}

#padigia.padigia-off{
  right: -376px;
}


/***********************/
/* old ipad case style */
/***********************/

#ipad-home{
  position: fixed;
  right: -110px;
  top: 70px;
  width: 164px;
  height: 117px;
  z-index: 10002;
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: pointer;
}
#ipad-home .linguetta{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#ipad-home .tasca{
  position: absolute;
  top: 3px;
  left: 60px;
  z-index: 3
}
#ipad-home .thumb{
  position: absolute;
  top: 30px;
  left: 165px; /*75*/
  z-index: 2;
}